---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import type { ChallengeEntry } from "../models";
import StatusBadge from "../components/StatusBadge.astro";
import { format } from "date-fns";

type Props = {
  challenge: ChallengeEntry;
};

export async function getStaticPaths() {
  const challenges = await getCollection("challenge");

  return challenges.map((challenge) => ({
    params: {
      slug: challenge.id.replaceAll(/(\/|\\)/g, "-"),
    },
    props: {
      challenge,
    },
  }));
}

const { challenge } = Astro.props;
---

<BaseLayout>
  <main class="container mx-auto text-center">
    {
      Array.isArray(challenge.data.badge) && (
        <>
          <h1 class="my-4 text-5xl">{challenge.data.name}</h1>

          <div class="flex flex-row justify-around text-center">
            {challenge.data.badge.map((badge) => (
              <div class="flex-shrink flex-grow basis-1/3 space-y-2">
                <img
                  src={badge.image}
                  alt={challenge.data.name}
                  class="mx-auto h-60"
                />

                <div class="text-lg font-bold">{badge.name}</div>

                <StatusBadge status={badge.status} />

                <div>
                  <span>Started: </span>
                  {"started" in badge
                    ? format(badge.started, "yyyy-MM-dd")
                    : "Not started"}
                </div>

                <div>
                  <span>Completed: </span>
                  {"completed" in badge
                    ? format(badge.completed, "yyyy-MM-dd")
                    : "Not completed"}
                </div>
              </div>
            ))}
          </div>
        </>
      )
    }

    {
      !Array.isArray(challenge.data.badge) && (
        <img src={challenge.data.badge.image} alt={challenge.data.name} />
      )
    }

    <a href={challenge.data.url.full} target="_blank">
      <h2 class="duration-250 hover:casual my-4 text-4xl transition-all">
        Challenge Post
      </h2>
    </a>

    <!-- <AnilistComment commentId={challenge.data.url.comment} /> -->

    <a
      href={challenge.data.url.full}
      class="mx-auto inline-block rounded bg-ctp-lavender p-2 text-sm font-bold uppercase text-ctp-base"
      target="_blank"
    >
      View on Anilist</a
    >
  </main>
</BaseLayout>
