---
import type { ChallengeEntry } from "../models";
import { getEntry } from "astro:content";
import BadgeComponent from "./BadgeComponent.astro";

type Props = {
  challenge: Omit<ChallengeEntry, "data">;
};

const challenge = await getEntry(Astro.props.challenge);

if (!challenge) {
  throw new Error("Challenge not found");
}
---

<a href={`/${challenge.id}`}>
  {
    Array.isArray(challenge.data.badge) &&
    challenge.data.visibility === "all" ? (
      <div class="m-1 inline-block rounded bg-ctp-mantle p-2 shadow">
        {challenge.data.badge.map((badge) => (
          <BadgeComponent
            badge={badge}
            name={badge.name}
            size={badge.focus ? "large" : "small"}
          />
        ))}

        <h4 class="ml-auto mr-1 w-max font-light uppercase">
          {challenge.data.name}
        </h4>
      </div>
    ) : (
      <BadgeComponent
        badge={
          Array.isArray(challenge.data.badge)
          // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
            ? challenge.data.badge.find((badge) => badge.focus)!
            : challenge.data.badge
        }
        name={challenge.data.name}
        size="large"
      />
    )
  }
</a>
